.tdtitle{
     height: 50px; border: #ffff 1px solid; text-align: center;

}
.tdtotales{
    background-color: aliceblue; height: 70px; border-left: #ffff 2px solid;  text-align: center; font-weight: 800;

}
.tdtotal{
    background-color: aliceblue; height: 70px; border-left: #ffff 11px solid;  text-align: right; font-weight: 800;

}

.trdet:hover td{
    background:rgb(241, 235, 235);
    cursor: pointer;
}

.highlight{
    color: black;

}

.checks{
    width: 21px;
    height: 21px;
    cursor: pointer;
  }

  .myCheckbox input:checked{
    background-color: #c54817;
  }